.contact img{
    height: 250px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.card-bg{
    width: 50px;
    text-align: center;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 50px;
  
}