.contacts-container{
    display: grid;
    grid-template-columns: 1fr;
    background-color: lightgray;
}

.header-text{
    border: 3px solid whitesmoke;
    align-items: center;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    
}
.contact-container{
    border-right: 1px solid maroon;
    margin-right: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}